* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.logo img {
    width: 29%;
    margin-top: 22px;
}

.navList {}

.navList ul {
    list-style: none;
}

.navList li {
    display: inline-block;
    margin: 23px;
    text-decoration: none;
}

.navList a {
    text-decoration: none;
    color: hsl(7, 97.5%, 31.2%);
    transition: all .4s ease;
}

.navList a:hover {
    text-decoration: none;
    color: rgb(107, 14, 2);
    transition: all .4s ease;
}

.backImg img {
    width: 100%;
    height: 100vh;
}

.backImg::before {
    content: "";
    background-color: rgb(84, 85, 85);
    width: 100%;
    position: absolute;
    height: 100vh;
    opacity: .4;
    right: 0px;
}
.aboute{
    margin-left: 401px;
}
.textHeader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: azure;
}

.textHeader h1 {
    font-weight: 600;
    font-size: 4em;
}
.servi{
    margin-left: 435px;
    margin-top: 20PX;
}
.textHeader h1 {
    font-weight: 300;
    color: azure;
    position: relative;
    z-index: 1000;
}


/* About */

.about {
    background-color: #F3ECD0;
}

.about img {
    width: 100%;
    border-radius: 1%;
    padding: 41px;
}

.about h1 {
    text-align: center;
    margin-bottom: 45px;
    margin-top: 30px;
    padding-bottom: 20px;
    margin-right: 453px;
}

.about h3 {
    text-align: left;
    padding: 15px 0px;
    margin: 10px 0px;
}

.about p {
    text-align: justify;
}

.dev {
    background-color: bisque;
}

#services {
    /* background-image: url("https://images.pexels.com/photos/1149831/pexels-photo-1149831.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-repeat: no-repeat;
    background-size: cover; */
    height: 498px;
    width: 100%;
    background-color: whitesmoke;
}

footer {
    padding: 4em;
    color: azure;
    background-color: rgb(49, 47, 44);
}

footer .social a {
    color: #B1B1B1;
    text-decoration: none;
    font-size: 27px;
    padding: 3px;
    position: relative;
    top: 13px;
    transition: all .5s ease;
}

footer .social a:hover {
    color: whitesmoke;
    text-decoration: none;
    font-size: 27px;
    padding: 3px;
    position: relative;
    top: 13px;
}

footer a {
    color: whitesmoke;
    transition: all .5s ease;
}

footer ul {
    padding-top: 3px;
}

footer li {
    line-height: 40px;
}

.linksFooter a {
    color: #B1B1B1;
}

.linksFooter a:hover {
    color: whitesmoke;
}

footer form input[type="text"] {
    /* display: inline; */
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-top: 22px;
}

footer form input[type="button"] {
    /* display: inline; */
    /* border-bottom-style: solid;
    border-bottom-width: 1px; */
    margin-top: 22px;
    position: relative;
    top: -15px;
    padding: 4px;
}

footer form input[type="button"]:hover {
    /* display: inline; */
    /* border-bottom-style: solid;
    border-bottom-width: 1px; */
    margin-top: 22px;
    position: relative;
    top: -15px;
    padding: 4px;
    color: whitesmoke;
}


/*Contact*/

.ser {
    text-align: center;
    border: 1px solid orange;
    border-radius: 20px;
    width: 30px;
    margin-top: 30px;
    margin-left: 70px;
    padding: 30px;
    background-color: #E8E3DA;
}

.heading {
    /* margin-left: 450px;
    margin-top: 70px; */
    color: #d49300;
}

#contactUs {
    width: 500px;
    height: 300px !important;
}

.serviceIcon {
    text-align: center;
}

.serviceIcon i {
    font-size: 50px;
}

.serviceText {
    text-align: center;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

#ShowHide {
    display: none;
}

#findUs {
    background: orangered;
    color: whitesmoke;
    padding: 1%;
    border-radius: 10%;
}

.nav img {
    width: 15%;
    height: 7vh;
    position: relative;
    top: 14px;
}
/*Cars*/
.mt{
    margin-left: 90px;
  }
  .car h1{
    text-align: center;
    font-weight: bold;
    color: #d49300;
    padding: 10px 0px;
    margin-bottom: 30px;
  }
  .spec {
    position: absolute;
    right: 30px; 
    padding-left: 20px;
   }
  
  .carText h1{
    font-size: 45px;
    text-align: center;
    color: blue;
    font-weight: bold;
  }
  .carText h4{
    font-size: 28px;
    text-align: center;
    color: #d00563;
    font-weight: 600;
  }
  .carText ul li{
    border-bottom: 1px solid #efefef;
    font-weight: bold;
  }   
  .carImg img{
  width: 90%;
  } 
  .btn-primary {
    color: #fff;
    background-color: #FAAA00;
    border-color: #FAAA00;
  }
  .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 6px 10px;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
    margin-top: 15px;
  }




  body {
    margin: 0;
    position: relative;
  }
  
  .slider {
    max-width: 800px;
  }
  
  .slider__images {
    opacity: 0;
    visibility: hidden;
    position: relative;
    top: 0px;
    left: 0px;
    list-style-type: none;
    transition: opacity .4s ease-in, visibility .4s ease-in;
  }
  .slider__images.loaded {
    opacity: 1;
    visibility: visible;
  }
  .slider__images-item {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .no-js .slider__images-item:first-of-type {
    position: relative;
  }
  .no-js .slider__images-item:not(:first-of-type) {
    display: none !important;
  }
  .slider__images-image {
    display: block;
    width: 100%;
  }
  
  .slider__controls {
    margin-top: 30px;
    user-select: none;
    text-align: center;
  }
  
  .slider__control {
    display: inline-block;
    color: #829995;
    cursor: pointer;
  }
  
  .slider__control--prev {
    margin-right: 10px;
  }
  
  .slider__control--next {
    margin-left: 10px;
  }
  
  .slider__pagers {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .slider__pagers li {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    color: #829995;
    padding: 0 10px;
  }
  .slider__pagers li.active {
    color: #333;
  }
  
  /* body {
    background: #EF629F;
    background: linear-gradient(to right, #EF629F, #EECDA3);
    font-family: Avenir, 'Proxima Nova', sans-serif;
    font-weight: normal;
    line-height: 1.5;
  } */
  
  ul,
  ol,
  div {
    margin: 0;
    padding: 0;
  }
  
  img {
    max-width: 100%;
  }
  
  h1 {
    margin-top: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  
  .wrapper {
    padding: 30px;
  }
  
  .header,
  .footer {
    margin: auto;
    max-width: 800px;
    text-align: center;
    color: #fff;
  }
  .header a,
  .footer a {
    color: #fff;
  }
  
  .footer {
    margin-top: 30px;
  }
  
  .slider {
    /* margin: 30px auto 0;
    padding: 30px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); */
    width:100%;
  }
  