* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo img {
    width: 29%;
    margin-top: 22px;
}

.navList {}

.navList ul {
    list-style: none;
}

.navList li {
    display: inline-block;
    margin: 23px;
    text-decoration: none;
}

.navList a {
    text-decoration: none;
    color: hsl(7, 97.5%, 31.2%);
    transition: all .4s ease;
}

.navList a:hover {
    text-decoration: none;
    color: rgb(107, 14, 2);
    transition: all .4s ease;
}

#about {}

.about img {
    width: 100%;
    border-radius: 1%;
}

.about h1 {
    text-align: center;
    margin-bottom: 45px;
    margin-top: 30px;
    padding-bottom: 20px;
}

.about h3 {
    text-align: left;
    padding: 15px 0px;
    margin: 10px 0px;
}

.about p {
    text-align: justify;
}